*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

/*nav logo*/

nav .logo{
    width:200px;
    height:100px;
    
}
nav .logo img{
    width:100%;
    height:100%;
    object-fit: cover;
}

nav{
    height:fit-content;
    background-color:white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 40px;

}

nav .link a{
     
      font-weight:bold;
      text-transform: capitalize;
      padding:10px 20px;
      transition:0.5s ease;
      font-family:cursive;
      /* border-radius:20px; */

}

nav .link a{
    font-size:25px;
    text-decoration:none;
    color:black;
    font-family:cursive;
    font-weight:bold;
    position: relative;
}

nav .link a:hover{
    color:green;
}




/* nav .link a:hover{
    color:rgb(29,169,74);
    
     padding:10px 20px;
    
     
} */

nav .link{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    transition:all 0.5s linear;
}
nav .fa-bars{
    display:none;

}

nav input{
    display:none;
}

nav input:checked~.link{
    display:flex;
    left:0;
}



@media only screen and (min-width:320px) and (max-width:1422px){

    nav{
        position:relative;
    }
    nav .link{
        display:none;
        position:absolute;
        width:100%;
        color:white;
        background-color:whitesmoke;
        /* border:5px solid black; */
        top:90px;
        left:100%;
        flex-direction:column;
        gap:5px;

    }

    nav .link a{
        border:1px solid silver;
        width:100%;
        text-align:center;
        border-left:none;
        border-right:none;
        border-top:none;
        
    }

    nav .link a:hover{
        width:250px;
    }
    nav .fa-bars{
        display:block;
        font-size:30px;
        color:black;
        }

        nav .logo{
            width:200px;
            height:90px;
        }
}

/* background-images and content */

.recent-img{
    width:100%;
    height:650px;
    background-image:url("./image/blog.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    display:grid;
    justify-content: center;
    align-content: center;
    /* border:5px solid brown; */


}
.recent-img h1{
    color:white;
    font-size:70px;
}


@media only screen and (min-width:320px) and (max-width:660px){
    .recent-img{
        width:100%;
        height:600px;
        background-image:url("./image/blog.jpg");
        background-repeat:no-repeat;
        background-size:cover;
        display:grid;
        justify-items: center;
        align-items: center;
       
    
    }
    .recent-img h1{
         font-size:50px;
         text-align: center;
    }
}


/* 6-card design */
.product-container{
    width:100%;
    /* height:1300px; */
    background-color:white;
    /* border:5px solid black; */
    display: grid;
    grid-template-columns:repeat(3,400px);
    justify-content: center;
    align-content:center;
    row-gap:50px;
    column-gap:50px;
    padding:50px;
   
}
.card-one,.card-two,.card-three,.card-four,.card-five,.card-six
{
 
    /* height:580px; */
    background-color:white;
    /* border:1px solid gray; */
    position: relative;
    box-shadow: 0 2px 20px gray;
    transition:2s linear;
    
    
}
.card-one img:nth-child(1),.card-two img:nth-child(1),.card-three img:nth-child(1),.card-four img:nth-child(1),.card-five img:nth-child(1),.card-six img:nth-child(1)
{
    width:100%;
    height:250px;
    object-fit: cover;
    
}

.card-one:hover,.card-two:hover,.card-three:hover
{
    /* transform:translateY(-30px); */
    transform:rotate(360deg);
    box-shadow: 20px 20px 10px gray;
}



.card-four:hover,.card-five:hover,.card-six:hover
{
    transform:rotate(360deg);
    /* transform:translateY(30px); */
    box-shadow: 20px 20px 10px gray; 
}



.card-one h2,.card-two h2,.card-three h2,.card-four h2,.card-five h2,.card-six h2
{
    font-size:28px;
    padding:20px;
}

.card-one p,.card-two p,.card-three p,.card-four p,.card-five p,.card-six p
{
    color:rgb(116, 114, 114);
    font-size:18px;
    line-height:25px;
    padding:8px 20px;
}
.fa-circle-chevron-right{
    color:brown;
    padding-left:10px;
}

.card-one h4,.card-two h4,.card-three h4,.card-four h4,.card-five h4,.card-six h4
{
    
    color:red;
    padding: 10px 20px 20px;
}

.card-one p:nth-child(6),.card-two p:nth-child(6),.card-three p:nth-child(6),.card-four p:nth-child(6),.card-five p:nth-child(6),.card-six p:nth-child(6)
{
    color:lightseagreen;
}

/*Mobile view*/
@media only screen and (min-width:320px) and (max-width:750px){
    .product-container{
        /* width:100%;
        height:500px; */
        background-color:white;
        /* border:2px solid black; */
        display: grid;
        grid-template-columns:auto;
        justify-content: center;
        align-content:center;
        row-gap:20px;
        column-gap:20px;
        overflow:hidden;
        padding:20px;
}
}

/*Tab view*/
@media only screen and (min-width:750px) and (max-width:1338px){
    .product-container{
        /* width:100%;
        height:500px; */
        background-color:white;
        /* border:2px solid black; */
        display: grid;
        grid-template-columns:auto auto;
        justify-content: center;
        align-content:center;
        row-gap:40px;
        column-gap:40px;
        padding:40px;
        /* overflow:hidden; */
}
}
   

/* photo frame hover Effect */
.photo-container
{
  
  width:100%;
  height:550px;
  display:grid;
  justify-content: center;
  align-items: center;
  
}

.cards{
    position: relative;
    width:320px;
    height:350px;
    background-color: #fff;
    border-radius:3px;
    box-shadow: 0 2px 20px gray;
}

.cards::before,.cards::after{
    content:" ";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color:#fff;
    z-index: -1;
    transition:0.5;
}

.cards:hover::before{
    transform: rotate(25deg);
    box-shadow: 0 2px 20px gray;
}

.cards:hover::after{
    transform: rotate(-25deg);
    box-shadow: 0 2px 20px gray;
}

.image-box{
    position:absolute;
    /* background:red; */
    top:10px;
    left:10px;
    bottom:10px;
    right:10px;
    transition:0.5s;
}

.image-box img{
    width:100%;
    height:100%;
    object-fit: cover;
    position: absolute;
    top:0;
    left:0;
    z-index: 2;
   
}

.cards:hover .image-box{
    bottom:80px;
    filter:drop-shadow(10px 10px 20px gray);
}

.details{
    position:absolute;
    left:10px;
    right:10px;
    bottom:10px;
    height:60px;
    text-align: center;
}

.details h2{
    margin:0;
    padding:0;
    font-weight: bold;
    color:#222;
    text-transform: uppercase;
}

.time{
    font-size:18px;
    color:red;
    font-weight: bold;
    text-transform:uppercase;
}

@media only screen and (min-width:320px) and (max-width:500px)
{
    .photo-container{
        width:100%;
        height:500px;
        display:grid;
        justify-content: center;
        align-items: center;
        /* padding:20px; */
        /* border:1px solid black; */
    }
    .cards{
        position: relative;
        width:300px;
        height:350px;
        background-color: #fff;
        border-radius:3px;
        box-shadow: 0 2px 20px gray;
        padding:10px;
    }
}

/* footer */
.footer-container{
    width:100%;
    /* height:600px; */
    background-color:rgb(228,33,39);
    display: grid;
    grid-template-columns:3fr 2fr 3fr 2fr;
    justify-content: center;
    align-content:center;
    padding:20px;
   
   
}

/* first card */
.f-first{
    /* width:100%;
    height:500px; */
    /* border:1px solid black; */
    padding:20px;
    
}

.img-box{
    width:100%;
    height:200px;
    background-color:white;
    

}

.img-box img{
    width:100%;
    height: 100%;
    object-fit:contain;
}

.f-first p{
    color:black;
    font-size:25px;
    line-height: 33px;
    padding:20px 0px;
    color:white;
}

.font-awesome{
    color:white;
    font-size:30px;
    padding-bottom:20px;
    
}

.fa-facebook,.fa-instagram,.fa-youtube,.fa-square-twitter{
    padding-right:10px;
}

/*second card*/
.f-second{
    /* width:100%;
    height:500px; */
    /* border:1px solid white; */
    padding:20px;
}

.f-second h1{
    color:white;
    font-size:40px;
    padding-bottom:35px;
}

.f-second p{
    font-size:25px;
    color:white;
    padding:10px 0px;
}

/*third card*/
.f-third{
    /* width:100%;
    height:500px; */
    color:white;
    /* border:1px solid white; */
    padding:20px;
}

.f-third h1{
    font-size:40px;
    padding-bottom:40px;
}
.fa-envelopes-bulk,.fa-location-crosshairs,.fa-phone-volume
{
    font-size:40px;
    padding-right:25px;
}

.f-third span{
    font-size:25px;
   }

.mail{
    margin-bottom: 20px;    
    padding-bottom: 30px;
}   


/* four card */
.f-four{
    /* width:100%;
    height:500px; */
    color:black;
    /* border:1px solid black;
    */
    padding:30px;
}

.f-four-overall{

    background-color: white;
    width:300px;
    min-height:400px;
    padding:20px;
    box-shadow: 10px 10px 10px black;

}
   


.f-four h1{
    font-size:40px;
    padding-bottom: 30px;
    
}

.f-four form input{
    width:100%;
    height:40px;
    border:2px solid gray;
    border-radius:3px;
   
}

.f-four form input::placeholder{
    padding-left:20px;
    font-size:20px;
}

.f-four button{
    width:100%;
    height:40px;
    font-size:20px;
    color:white;
    background-color: rgb(14, 154, 14);
    border-radius:3px;
    border:none;
}


@media only screen and (min-width:320px) and (max-width:720px){
    .footer-container{
        /* width:100%; */
        /* height:600px; */
        background-color:rgb(228,33,39);
        display: grid;
        grid-template-columns:auto;
        justify-content: center;
        align-content:center;
        row-gap:20px;
        column-gap: 20px;
        padding:20px;
       
    }
}

@media only screen and (min-width:720px) and (max-width:1000px){
    .footer-container{
        /* width:100%; */
        /* height:600px; */
        background-color:rgb(228,33,39);
        display: grid;
        grid-template-columns:auto auto;
        justify-content: center;
        align-content:center;
        row-gap:20px;
        column-gap: 20px;
        padding:20px;
       
    }
}

@media only screen and (min-width:1000px) and (max-width:1360px){
    .footer-container{
        width:100%;
        /* height:600px; */
        background-color:rgb(228,33,39);
        display: grid;
        grid-template-columns:auto auto auto;
        justify-content: center;
        align-content:center;
        row-gap:20px;
        column-gap: 20px;
        padding:20px;
       
    }
}